In [57]:
import pandas as pd
import math
spain_data = pd.read_excel('Data/spain_data.xlsx', header = 2)
us_data = pd.read_excel('Data/us_data.xlsx', header = 2)

In [25]:
spain_data.rename(columns={'Unnamed: 0': 'Date'})

,Date,"Economic Activity, Industrial Production, Index","Exchange Rates, National Currency Per U.S. Dollar, Period Average, Rate","International Reserves and Liquidity, Reserves, Official Reserve Assets, US Dollar","Prices, Consumer Price Index, All items, Index"
0,Jan 1960,NaN,60.000,233.000000,2.857368
1,Feb 1960,NaN,60.000,253.000000,2.855049
2,Mar 1960,NaN,60.000,299.000000,2.851573
3,Apr 1960,NaN,60.000,326.000000,2.853891
4,May 1960,NaN,60.000,360.000000,2.845198
...,...,...,...,...,...
367,Aug 1990,57.138375,97.029,53227.717281,52.200576
368,Sep 1990,97.803577,98.467,53790.187718,52.750025
369,Oct 1990,100.909947,95.697,55428.040577,53.218335
370,Nov 1990,104.110449,93.958,56347.862332,53.165017
371,Dec 1990,88.202071,95.234,56004.835968,53.295997

In [26]:
us_data.rename(columns={'Unnamed: 0': 'Date'})

,Date,"International Reserves and Liquidity, Reserves, Official Reserve Assets, US Dollar","Prices, Consumer Price Index, All items, Index"
0,Jan 1960,21478.100000,13.436946
1,Feb 1960,21395.700000,13.482806
2,Mar 1960,21344.700000,13.482806
3,Apr 1960,21278.000000,13.528666
4,May 1960,21234.300000,13.528666
...,...,...,...
367,Aug 1990,78908.838357,60.351608
368,Sep 1990,80024.166133,60.856066
369,Oct 1990,82852.196532,61.222946
370,Nov 1990,83059.402774,61.360525
371,Dec 1990,83316.214608,61.360525

In [34]:
data = pd.merge(spain_data, us_data, on='Unnamed: 0')

In [35]:
data

,Unnamed: 0,"Economic Activity, Industrial Production, Index","Exchange Rates, National Currency Per U.S. Dollar, Period Average, Rate","International Reserves and Liquidity, Reserves, Official Reserve Assets, US Dollar_x","Prices, Consumer Price Index, All items, Index_x","International Reserves and Liquidity, Reserves, Official Reserve Assets, US Dollar_y","Prices, Consumer Price Index, All items, Index_y"
0,Jan 1960,NaN,60.000,233.000000,2.857368,21478.100000,13.436946
1,Feb 1960,NaN,60.000,253.000000,2.855049,21395.700000,13.482806
2,Mar 1960,NaN,60.000,299.000000,2.851573,21344.700000,13.482806
3,Apr 1960,NaN,60.000,326.000000,2.853891,21278.000000,13.528666
4,May 1960,NaN,60.000,360.000000,2.845198,21234.300000,13.528666
...,...,...,...,...,...,...,...
367,Aug 1990,57.138375,97.029,53227.717281,52.200576,78908.838357,60.351608
368,Sep 1990,97.803577,98.467,53790.187718,52.750025,80024.166133,60.856066
369,Oct 1990,100.909947,95.697,55428.040577,53.218335,82852.196532,61.222946
370,Nov 1990,104.110449,93.958,56347.862332,53.165017,83059.402774,61.360525
371,Dec 1990,88.202071,95.234,56004.835968,53.295997,83316.214608,61.360525

In [81]:
# log exchange rate
er = data['Exchange Rates, National Currency Per U.S. Dollar, Period Average, Rate'].tolist()
log_er = []
for value in er:
    log = math.log(value)
    log_er.append(log)

In [ ]:
log_dif_list = []

for i in range(0, len(er)-1):
    log_dif = log_er[i+1] - log_er[i]
    log_dif_list.append(log_dif)

In [74]:
# monthly inflation rate
cpi = data['Prices, Consumer Price Index, All items, Index_x'].tolist()
mon_inf_list = []

for i in range(0, len(er)-1):
    inf = math.log(cpi[i+1] / cpi[i])
    mon_inf_list.append(inf)

In [82]:
# log industrial production
ip = data['Economic Activity, Industrial Production, Index'].tolist()
log_ip = []
for value in ip:
    log = math.log(value)
    log_ip.append(log)

In [90]:
# Monthly growth in industrial production
indsutrial_growth_list = []
for i in range(0, len(ip)-1):
    growth = math.log(ip[i+1] / ip[i])
    indsutrial_growth_list.append(growth)

In [ ]:
# Growth in industrial production versus 12 months ago (i.e. January 1971 versus January 1970 etc.)

k = 0
while k < 372:

In [102]:
# An index of the value of international reserves (value of reserves at January 1960 = 100)
reserves_index = data['International Reserves and Liquidity, Reserves, Official Reserve Assets, US Dollar_x'].tolist()
reserves_index_list = []
for reserve in reserves_index:
    index = reserve/reserves_index[0] * 100
    reserves_index_list.append(index)

[100.0,
 108.58369098712446,
 128.3261802575107,
 139.91416309012877,
 154.50643776824035,
 174.2489270386266,
 183.26180257510728,
 195.27896995708153,
 205.57939914163092,
 226.18025751072963,
 223.6051502145923,
 232.18884120171674,
 230.0429184549356,
 242.4892703862661,
 241.0085836909871,
 254.72103004291844,
 276.18025751072963,
 293.3476394849786,
 307.51072961373393,
 331.9742489270386,
 341.41630901287556,
 354.2918454935622,
 365.45064377682405,
 380.48068669527896,
 391.6309012875537,
 401.50214592274676,
 411.3733905579399,
 419.5278969957082,
 424.2489270386266,
 431.1158798283262,
 442.7038626609442,
 440.5579399141631,
 449.57081545064375,
 449.14163090128756,
 449.14163090128756,
 448.7124463519313,
 455.79399141630904,
 455.79399141630904,
 445.49356223175965,
 445.9227467811159,
 444.20600858369096,
 442.9184549356223,
 452.36051502145926,
 474.67811158798287,
 480.2575107296137,
 475.10729613733906,
 474.67811158798287,
 492.27467811158795,
 507.72532188841205,
 509.4420600858369,
 519.5278969957081,
 521.244635193133,
 524.0343347639486,
 542.9184549356223,
 564.3776824034335,
 598.4978540772532,
 626.3948497854077,
 637.5536480686695,
 639.2703862660944,
 649.5751072961373,
 668.0300429184549,
 660.3047210300429,
 647.8583690987125,
 630.2618025751074,
 619.7467811158798,
 623.1802575107296,
 628.7596566523606,
 645.068669527897,
 653.6523605150214,
 633.9098712446352,
 620.175965665236,
 604.725321888412,
 590.9914163090128,
 569.5321888412017,
 542.9227467811158,
 524.4678111587983,
 524.0386266094421,
 512.0214592274679,
 516.31330472103,
 536.0557939914163,
 548.0729613733905,
 535.1974248927038,
 522.7510729613733,
 517.6051502145922,
 498.7167381974249,
 473.82403433476395,
 445.49785407725324,
 424.46781115879827,
 421.89270386266094,
 424.8969957081545,
 457.51502145922746,
 479.83261802575106,
 475.5407725321889,
 459.23175965665234,
 442.92274678111585,
 450.22317596566523,
 468.67381974248923,
 457.08583690987126,
 455.3690987124464,
 468.67381974248923,
 453.22317596566523,
 452.36480686695273,
 466.0987124463519,
 489.7038626609442,
 500.4334763948497,
 500.4334763948497,
 485.84120171673817,
 493.14163090128756,
 484.12446351931334,
 487.98712446351936,
 470.3905579399142,
 470.81974248927037,
 472.107296137339,
 479.83261802575106,
 509.44635193133047,
 498.7682403433477,
 474.73390557939916,
 476.02145922746786,
 476.8798283261803,
 549.8412017167382,
 579.4549356223176,
 587.1802575107297,
 585.3004291845493,
 576.7081545064377,
 582.2918454935622,
 596.4549356223176,
 684.4377682403434,
 644.9527896995709,
 682.7210300429184,
 715.3390557939915,
 743.6652360515022,
 780.0386266094421,
 850.7081545064378,
 862.2961373390558,
 891.4806866952791,
 915.2446351931329,
 961.5965665236052,
 1011.8111587982833,
 1107.0901287553647,
 1212.2403433476395,
 1265.030042918455,
 1310.5236051502147,
 1345.7210300429185,
 1384.0608300923861,
 1437.047519824163,
 1480.3951593091415,
 1542.1977344164377,
 1566.6565939984591,
 1624.1952819998883,
 1761.5343377938796,
 1862.8218914419485,
 1964.5432893706566,
 2014.7578816453347,
 2060.6806284264508,
 2107.890928855635,
 2152.096937439326,
 2216.4746198427597,
 2257.2648268676567,
 2266.277702404137,
 2328.5249944047123,
 2387.364697250313,
 2450.884010555034,
 2741.012765919841,
 2802.815341027137,
 2847.4505341601844,
 2881.7904755566565,
 2873.206784569532,
 2906.2539948699614,
 2831.146698732622,
 2835.8677287755404,
 2776.640260964382,
 2690.3845214397297,
 2652.228516130828,
 2618.322936731687,
 2716.697720150644,
 2723.0178909388324,
 2775.2521257606136,
 2724.8426654833133,
 2693.52332062012,
 2779.49418917888,
 2695.417285194811,
 2672.4314178435234,
 2680.3392658649445,
 2562.527316966094,
 2602.006535781008,
 2675.2471756066952,
 2665.422847352747,
 2783.6124923687207,
 2743.3416683202017,
 2708.249760415459,
 2567.524566761292,
 2621.5098522438498,
 2635.2887995103047,
 2662.9944635548154,
 2545.37974137103,
 2469.537102622056,
 2372.551377733807,
 2286.754964374056,
 2310.3985929842147,
 2436.7545216905364,
 2383.94469194179,
 2316.033330174833,
 2301.428098444644,
 2277.44541977618,
 2183.942105216751,
 2135.1587999229787,
 2123.6597902116055,
 2087.5738196836523,
 1965.3509168762703,
 1689.5113657276352,
 1989.2524627676607,
 2384.626369818472,
 2579.5176923800086,
 2675.2112472976523,
 2802.183436172875,
 2826.4367965008155,
 2961.638486206923,
 3090.642567044824,
 3128.948509082579,
 3245.84318248648,
 3304.7717143351974,
 3599.615098049756,
 3902.6704349167553,
 4273.253441578859,
 4427.960334412146,
 4521.64629726485,
 4333.896994884635,
 4603.167907516137,
 4636.349992362832,
 4748.9030815134765,
 4952.8510528865245,
 5016.9553188894,
 5168.645870596738,
 5441.753050718026,
 5565.799250064463,
 5792.036800558755,
 5980.1609646694415,
 5916.30211525764,
 6003.336917133304,
 5940.528695959013,
 6023.099325661245,
 5701.290351760687,
 5259.090642827253,
 5248.780532163649,
 5360.87233600867,
 5322.360164642146,
 5729.072157605537,
 5888.781268957211,
 5736.853892935408,
 5548.937342647425,
 5401.636836948798,
 5356.334098848884,
 5228.889527023048,
 5079.292836767081,
 4912.981969538498,
 4779.815980578541,
 4531.9354759981115,
 4740.013223798755,
 4886.376510049486,
 4993.469068013047,
 5116.211948391717,
 5140.380699254464,
 5060.007879229055,
 6505.606674950258,
 6452.196763086181,
 6219.861852568411,
 5805.494938319915,
 5747.9415740266095,
 5514.157879957124,
 5324.2538610997,
 5437.099266125923,
 5457.6680342812015,
 5308.708837422447,
 4839.522403415279,
 4581.5312206640765,
 4858.6700010646355,
 4787.631634768755,
 4648.526351813948,
 4224.339361671005,
 4165.766078571803,
 4190.328621229012,
 4063.084498310944,
 4193.586833149494,
 4421.366647883862,
 4509.237859468283,
 4637.540727801802,
 4619.093712254936,
 4819.351161572961,
 4969.575829431159,
 5115.631949046696,
 5290.555944149613,
 5604.015459813648,
 5734.562709058713,
 5803.706274774335,
 6256.991172110687,
 6706.108239816267,
 6728.06849802558,
 6877.763889595708,
 6877.400372239915,
 6775.672645892017,
 6987.799195497553,
 6847.439983957554,
 6702.841943911459,
 6370.291620119657,
 6527.607420788799,
 6284.641369633948,
 6444.0101823920595,
 6599.279810338327,
 7028.941382819656,
 6896.151054343176,
 6765.036669952789,
 6393.508489406137,
 6699.490350202919,
 6951.379537356567,
 6805.566824488154,
 6813.322627903304,
 6837.847740405494,
 6886.381884946051,
 7440.015259490987,
 7970.204218251459,
 8131.675582059271,
 8186.612134107983,
 7855.951361854764,
 7956.880216336782,
 8157.045475935708,
 8277.167959269827,
 8298.057195436268,
 8821.474016882361,
 9497.491706895536,
 10175.950460630429,
 11713.352293385064,
 12353.096520015493,
 13027.063082555278,
 13339.039918217082,
 13824.844750709957,
 14779.321218779656,
 15100.874038932488,
 15581.809964266267,
 15963.304884765967,
 16294.747427462058,
 16556.954644819012,
 16611.05698648322,
 16588.00813899322,
 16859.243882410432,
 16610.357937344463,
 17375.02737893468,
 17706.886609649657,
 17956.877651937553,
 18217.05633028927,
 18105.84700993262,
 17865.257550398543,
 18728.52952034661,
 18752.065193778883,
 19238.089839893477,
 20452.508383935325,
 20004.016042406267,
 20637.002440030345,
 20017.616101336225,
 20080.760780279485,
 20122.76118615884,
 19986.154369213393,
 20025.617334622704,
 19924.90236238532,
 20164.66263339661,
 20501.13039413704,
 20795.84160990116,
 22650.535897507725,
 22844.513854649227,
 23085.917475359704,
 23788.858616691028,
 24183.631902222187,
 24036.41028653232]

In [96]:
# US monthly inflation rate
cpi = data['Prices, Consumer Price Index, All items, Index_y'].tolist()
mon_inf_list_2 = []

for i in range(0, len(er)-1):
    inf = math.log(cpi[i+1] / cpi[i])
    mon_inf_list_2.append(inf)

In [105]:
# An index of the value of international reserves (value of reserves at January 1960 = 100)
reserves_index = data['International Reserves and Liquidity, Reserves, Official Reserve Assets, US Dollar_y'].tolist()
reserves_index_list_2 = []
for reserve in reserves_index:
    index = reserve/reserves_index[0] * 100
    reserves_index_list_2.append(index)

In [112]:
data

,"Economic Activity, Industrial Production, Index","Exchange Rates, National Currency Per U.S. Dollar, Period Average, Rate","International Reserves and Liquidity, Reserves, Official Reserve Assets, US Dollar_x","Prices, Consumer Price Index, All items, Index_x","International Reserves and Liquidity, Reserves, Official Reserve Assets, US Dollar_y","Prices, Consumer Price Index, All items, Index_y"
Unnamed: 0,,,,,,
Jan 1960,NaN,60.000,233.000000,2.857368,21478.100000,13.436946
Feb 1960,NaN,60.000,253.000000,2.855049,21395.700000,13.482806
Mar 1960,NaN,60.000,299.000000,2.851573,21344.700000,13.482806
Apr 1960,NaN,60.000,326.000000,2.853891,21278.000000,13.528666
May 1960,NaN,60.000,360.000000,2.845198,21234.300000,13.528666
...,...,...,...,...,...,...
Aug 1990,57.138375,97.029,53227.717281,52.200576,78908.838357,60.351608
Sep 1990,97.803577,98.467,53790.187718,52.750025,80024.166133,60.856066
Oct 1990,100.909947,95.697,55428.040577,53.218335,82852.196532,61.222946
Nov 1990,104.110449,93.958,56347.862332,53.165017,83059.402774,61.360525
Dec 1990,88.202071,95.234,56004.835968,53.295997,83316.214608,61.360525

Economic Activity, Industrial Production, Index                                         float64
Exchange Rates, National Currency Per U.S. Dollar, Period Average, Rate                 float64
International Reserves and Liquidity, Reserves, Official Reserve Assets, US Dollar_x    float64
Prices, Consumer Price Index, All items, Index_x                                        float64
International Reserves and Liquidity, Reserves, Official Reserve Assets, US Dollar_y    float64
Prices, Consumer Price Index, All items, Index_y                                        float64
dtype: object