In [3]:
import pandas as pd
import numpy as np

In [23]:
spain_data = pd.read_excel(r'/Users/tombaldwin/Documents/GitHub/EC1B1-Project/Data/spain_data.xlsx', header = 2)
us_data = pd.read_excel(r'/Users/tombaldwin/Documents/GitHub/EC1B1-Project/Data/us_data.xlsx', header = 2)

In [35]:
data = [spain_data, us_data]

,International Financial Statistics (IFS),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,NaN,Spain,Spain,Spain,Spain
1,NaN,"Economic Activity, Industrial Production, Index","Exchange Rates, National Currency Per U.S. Dol...","International Reserves and Liquidity, Reserves...","Prices, Consumer Price Index, All items, Index"
2,Jan 1960,NaN,60.0,233,2.857368
3,Feb 1960,NaN,60.0,253,2.855049
4,Mar 1960,NaN,60.0,299,2.851573
...,...,...,...,...,...
369,Aug 1990,57.138375,97.029,53227.717281,52.200576
370,Sep 1990,97.803577,98.467,53790.187718,52.750025
371,Oct 1990,100.909947,95.697,55428.040577,53.218335
372,Nov 1990,104.110449,93.958,56347.862332,53.165017
373,Dec 1990,88.202071,95.234,56004.835968,53.295997